.parent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 400px;
}
.side-nav{
    font-family: sans-serif;
    height: 55vh;
    background-color: aliceblue;
}
.hover{
    padding: 10px;
}
.text-dec{
    text-decoration: none;
    color: rgb(95, 61, 61);
}
/* .text-dec:hover{
    color: whitesmoke;
} */
.hover:hover{
    border-bottom: 1px solid red;
}
.fa-circle-user{
    color: grey;
    font-size: 25px;
    margin-left: 970px;
    margin-top: 20px;
}
.user{
    font-family:"Quicksand", sans-serif;
    font-size: x-large;
    position: absolute;
    top: 23px;
    right: 80px;
}