.bg{
    /* The image used */
    background-image: url("../Images/login\ page.jpg");
    
    
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .signup{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
      border-radius: 30px;
      margin-top: 5%;
      width: 50%;
        padding-right: 10px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 4px;
    padding-bottom: 4%;
    
    align-items: center;
    justify-content: center;
    
    
}