.header-logo {
    width: 130px;
}
.container1 {
    margin-top: 20px;
    margin-left: 210px;
}
.f-group {
    float: left;
}
.f-group label {
    display: block;
    margin-bottom: 8px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
select {
    border: 1px solid #555;
    height: 40px;
    width: 200px;
    padding: 0 15px;
    margin-right: 20px;
}